<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/*html.wp-toolbar, body.wp-admin { direction: ltr !important; }
#wpcontent, #wpfooter { margin-left: 160px; }
#adminmenuwrap { float: left; }*/</style>
<!-- end Simple Custom CSS and JS -->
